#dept, #exhib {
    background-color: #f1f1f1;
    padding: 15px;
    width: 100%;
    border: 1px solid #f1f1f1;
}

#emp-wrapper, #ap-wrapper {
    border: 1px solid #f1f1f1;
    width: 100%;
    padding: 15px;
}
#emp-row, #ap-row {
    text-indent: 20px;
    padding: 5px 0px;
}

table {
    width: 100%;
}

th {
    background-color: #f1f1f1;
    cursor: pointer;
}

th:hover {
  background-color: #ddd;
}

th, td {
    padding: 15px 0px;
    text-align: center;
    border: 1px solid #f1f1f1;
    font-size: 15pt;
}