<html>

<head>
  <title>Add Exhibition</title>
  <link rel="stylesheet" href="/static/index.css">
  <link rel="stylesheet" href="/static/dropdown.css">
  <script src="/static/index.js"></script>
  <script src="/static/dropdown.js"></script>
  <style>
    body{ 
      letter-spacing: 1pt;
                  font-size: 15pt;
                  font-family: arial;
                }
        </style>
</head>

<body>
  <div>
    <form method="POST" action="/add_exhib">
      Name:<br>
      <input class="input-field" type="text" name="name" required><br>
      Begin Date:<br>
      <input class="input-field" type="date" name="begin-date" required><br>
      End Date:<br>
      <input class="input-field" type="date" name="end-date" required><br>
      Gallery:<br>
      <select name="gal" class="custom-select" style="width:400px;" required>
        <option>Select Gallery</option>
        {% for n in galdata %}
        <option>{{n}}</option>
        {% endfor %}
      </select><br>
      Art Pieces:<br>
      <div class="checkbox-sec">
        {% for n in apdata %}
        <div class="checkbox-row">
          <input class="checkbox-row" type="checkbox" name="ap" value="{{n}}">{{n}}<br>
          <label class="sup-label" for="{{n}}">{{n}}</label>
        </div>
        {% endfor %}
      </div>
      <input class="submit-btn" type="submit" value="Submit">
    </form>
    <div class="dropdown">
      <button class="dropbtn" onclick="goBack()">Return</button>
    </div>
  </div>
</body>

</html>