<html>
    <head>
        <title>Add Art Piece</title>
        <link rel="stylesheet" href="/static/index.css">
        <style>
                body{ 
                  font-size: 15pt;
                  font-family: arial;
                }
        </style>
    </head>  

    <body>
     <div>
            <form method="POST" action="/add_gal">
                    Name:<br>
                    <input class = "input-field" type="text" name="name"><br>
                    Location:<br>
                    <input class = "input-field" type="text" name="location"><br>
                    
                    <input class = "submit-btn" type="submit" value="Submit">
                    
                  </form>
     </div>   
    </body>
</html>
